body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

form {
    margin-top: 20px;
    text-align: center;
}

.custom-file-upload,
button[type="submit"] {
    display: inline-block;
    width: 150px; /* Adjust width as needed */
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.custom-file-upload {
    background-color: #007bff;
    border: none;
}

button[type="submit"] {
    background-color: #28a745;
    border: none;
}

.custom-file-upload:hover,
button[type="submit"]:hover {
    background-color: #0056b3;
}

input[type="file"] {
    display: none;
}

.footer {
    text-align: center;
    margin-top: 50px;
    font-size: 14px;
    color: #666;
}

.footer p {
    margin: 0;
}

.footer a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: #0056b3;
    text-decoration: underline;
}
