<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF to Word Converter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<div class="container">
    <h1>PDF to Word Converter</h1>
    <form action="/convert" method="post" enctype="multipart/form-data">
        <label for="file-upload" class="custom-file-upload">
            Select a PDF File
        </label>
        <input id="file-upload" type="file" name="file" accept=".pdf">
        <button type="submit">Convert</button>
    </form>
</div>

<footer class="footer">
    <p>Made with ❤️ from Adarsh</p>
</footer>

</body>
</html>
